<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Taskify</ion-title>
    <ion-icon
      slot="end"
      name="person"
      style="padding-right: 30px"
      (click)="profileGo()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-list>
  <ion-card *ngFor="let tarea of Tareas">
    <ion-card-header>
    <ion-card-title>{{tarea.titulo}}</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{tarea.nota}}
  </ion-card-content>
  <div class="item-note" item-end>
    <ion-button fill="clear"  (click)="editTask(tarea.$key)"> <ion-icon name="create" style="zoom: 1"></ion-icon></ion-button>
    <ion-button fill="clear" (click)="deleteTask(tarea.$key)"> <ion-icon name="trash" style="zoom: 1"></ion-icon></ion-button>
  </div>
</ion-card>

</ion-list>

  





  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="newTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
