ion-button{
    --background: #A5C53E;
    --color: white;
  //  font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    --border-radius: 0;
    --border-color: #A5C53E;
    --border-style: solid;
    --border-width: 1px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --box-shadow: none;
  }
