<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Nueva Tarea</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full">
    <form [formGroup]="taskForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-input
          formControlName="titulo"
          type="text"
          required
          placeholder="Titulo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          formControlName="nota"
          type="text"
          [autoGrow]="true"
          required
          placeholder="Nota"
        >
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-select aria-label="Estado" interface="popover" placeholder="Seleccione estado" formControlName="estado">
          <ion-select-option value="En proceso">En Proseso</ion-select-option>
          <ion-select-option value="Realizado">Realizado</ion-select-option>
          <ion-select-option value="Sin iniciar">Sin Iniciar</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item  class="ion-hide">
        <ion-input
      
          formControlName="uid"
          value=""
        ></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" shape="full" expand="block"
            >Agregar</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
