#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

h1{
    margin-top: 35%;
    text-align: center;
}

ion-button{
    
    --background: #A5C53E;
    --color: white;
  //  font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    --border-radius: 0;
    --border-color: #A5C53E;
    --border-style: solid;
    --border-width: 1px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --box-shadow: none;
  }

  ion-input {
    --background: #FFFFFF;
    --color: #4b4949b0;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
    width: 100%;
   
  }