<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12"
          ><h1 class="title">Task<span>ify</span></h1></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-img
            class="logImg"
            src="../../assets/imgs/logo.png"
            alt="logo taskify"
          ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"
          ><ion-button expand="block" class="create"  (click)="crearCuenta();">Crear Cuenta</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="12"
          ><ion-button expand="block" class="enter" (click)="login()"
            >YA TIENES UNA CUENTA?</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
